<div class="min-h-screen min-w-full flex">
  <aside>
    <%= StockWeb.Layouts.sidebar(assigns) %>
  </aside>
  <main class="flex-1 p-6">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </main>
</div>
