<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · BernaVino">
      <%= assigns[:page_title] || "BernaVino" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/fontawesome/css/fontawesome.min.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/fontawesome/css/regular.min.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/fontawesome/css/solid.min.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/fontawesome/css/brands.min.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
